*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:"Rubik",sans-serif;
}
p{
    font-size:1.6rem;
    font-weight: lighter;
    line-height: 30px;
}
h2{
    font-size:3.5rem;
}
h1{
    font-size: 5rem;
}
.logo{
    width: 150px;
    margin-right: 100px;
}
.heading{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 10% 1fr 1fr;
}
.up{
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
a{
    text-decoration: none;
    color: #4F5665;
    font-size: 1.6rem;
}
.bar{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex: 1 1 0;
    justify-content:space-between;
    align-items: center;
}
button{
    background-color: transparent;
    font-size: 1.6rem;
}
.about:hover {
    color:#000000;
}
.signUps{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content:space-around;
}
.signin{
    border: none;
    color:#4F5665;
}
.signin:hover {
    color: black;
}
.signup{
    border-radius: 50px;
    border-color: #F53855;
    color:#F53855;
    border-width: 1px;
    padding: 7px;
    width: 150px;
    height: 45px;
}
.signup:hover{
    background-color: #F53855;
    color: white; 
    border-width: 0px;   
}
.middle{
    margin-top: 140px;
    margin-bottom: 100px;
    display: flex;
    grid-column: 2/3;
    flex-direction: row;
}
.midText{
    line-height: 70px;
    font-weight: lighter;
    width: 555px;
}

.middle p{
    margin-top: 30px;
}
.middle img{
    object-fit: cover;
    width:611px;
    height: 382px;
    margin-left: 70px;
}
.middle button{
    margin-top: 70px;
    width: 250px;
    height: 60px;
    background-color: #F53838;
    color: white;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 0px 4px 10px -2px rgba(106, 45, 45, 0.3);
}

.middle button:hover{
    background-color:#772323;
}
.down{
    display: flex;
    grid-column: 2/3;
    background-color: white;
    box-shadow: 0px 4px 10px -2px rgba(46, 45, 45, 0.3);
    border-radius: 10px;
    margin-bottom: 40px;
    height: 200px;
    width: 1140px;
    justify-content: center;
    align-content: center;
}
.box{
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: center;
}
.users{
    display: flex;
    flex-direction: column;
}
.box img{
    margin-right: 20px;
    width: 55px;
    height: 55px;
}
.features{
    display: flex;
    grid-column: 2/3;
    margin: 50px 0px 100px 0px;  
}
.feature{  
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex:1;
    padding-left: 200px;
}
.lists{
    display: grid;
    grid-template-columns: 7% 1fr; 
    margin-top: 20px; 
    line-height: 35px;
    align-items: center;
}
.lists img{
    grid-column: 1/2;
    width: 20px;
    height: 20px;
}
.featText{
    grid-column: 2/3;
    font-size: 14px;
}
.plan{
    grid-column: 1/4;
    background-image: linear-gradient(to bottom,rgb(240, 240, 240), white);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 100px 175px 50px 175px;
}
.planText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img1{
    width: 110px;
    height: 180px;
    padding-top: 50px;
}
.headd{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:100px 50px 100px 50px;
    column-gap: 30px;
}
.first, .second, .third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 760px;
    width: 330px;
    column-gap: 20px;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 10px;
}
.strokes{
    display: grid;
    grid-template-columns: 20% 1fr;
    width: 200px;
    height: 280px;
    row-gap: 20px; 
}
.strokes img{
    grid-column: 1/2;
}
.signup2{
    width: 177px;
    height: 45px;
    border-radius: 40px;
    border-color: #F53838;
    color: #F53838;
}
.signup2:hover{
    border-width: 0px;
    background-color: #772323;
    color: white;
}
.strokes p{
    grid-column: 2/3;
    font-size: 14px;
    line-height: 20px;
}
.third button{
    border-width:0px; 
    background-color: #F53838; 
    border-radius: 45px; 
    width: 177px; 
    box-shadow: 0px 4px 10px -2px rgba(106, 45, 45, 0.3); 
    color: white; 
}
.third button:hover{
    background-color: #772323;
}
.world{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.reviews{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    text-align: center;
}
.otziv{
    padding-top:50px ;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.real{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: min-content;
    border:2px solid rgb(136, 136, 136);
    border-radius: 7px;
    padding: 30px 20px 30px 20px;
    line-height: 20px;
}
.scroll{
    padding-top: 30px;
}
.subs{
    grid-column: 2/3;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    padding: 50px;
    position: relative;
    top: 100px;
    background-color: white;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.09); 
}
.subbutton{
    background-color: #F53838;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border-width: 0px;
    box-shadow: 0px 4px 10px -2px rgba(106, 45, 45, 0.3);
}
.subbutton:hover{
    background-color:#772323;
}
.jhg{
    padding-left: 400px;
    align-content: center;
}
.footer{
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 240, 240);
    height: 480px;
}

.right{
    display: flex;
    flex-direction: column;
    flex: 0.8;
    justify-content: center;
    padding-left: 100px;
    padding-top: 50px;
}
.left{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-right: 100px;
    padding-top: 110px;
    justify-content: space-around;
    
}
.socials{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.product, .engage, .Earn{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}